body {
    background-color: rgb(211, 230, 230);
}

.cont-circle {
    display: flex;
    justify-content: center;
}

.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    font-weight: bold;
    align-content: center;
}

.action-container {
    margin: 10px;
}

.action-container input {
    position: relative;
    right: 20%;
    height: 30px;
}

.action-container select {
    position: relative;
    left: 20%;
    width: 150px;
    height: 30px;
}

.table {
    display: grid;
    grid-template-columns: 5% 25% 30% 5% 10% 10% 5% 10%;
    width: 95%;
    margin-left: 2.5%;
    background-color: rgb(192, 224, 131);
    font-weight: 700;

}

.table-head {
    height: 30px;
    border: 1px solid black;
    align-content: center;
}

.table-item {
    height: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 20px;
    align-content: center;
    border: 1px solid black;
}

.table-image {
    mix-blend-mode: multiply;
    height: 100%;
}
.pagination{
    display: grid;
   grid-template-columns: 20%  60% 20%;
}
.stat-main{
    width: 50%;
    margin-left: 25%;
}
.stat-cont{
    width: 40%;
    margin-left: 25%;
    border-radius: 20px;
    padding-left: 10%;
    background-color: white;
    text-align: start;
    align-content: start;
    
}
.stat-cont p{
    display: grid;
    grid-template-columns: 70% 30%;
}
.bar{
    width: 80vw;
    margin-left: 7%;
}
.pie{
    width: 50%;
    margin-left: 25%;
}
